*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CSS Customized properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Sans Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-flame: #e26161;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.125rem;
  --fs-body: 1rem;
}
